<!-- The following tables can be grouped -->

<h3><%= t('yearly_review.topics_created') %></h3>
<table>
  <tr>
    <th>
      <%= t('yearly_review.user') %>
    </th>
    <th>
      <%= t('yearly_review.topics') %>
    </th>
  </tr>
  <% @most_topics.each do |user| %>
    <tr>
      <td>
        <%= raw(avatar_image(user.username, user.uploaded_avatar_id)) %>
        <%= raw(user_link(user.username)) %>
      </td>
      <td>
        <%= user.topic_count %>
      </td>
    </tr>
  <% end %>
</table>

<h3><%= t('yearly_review.replies_created') %></h3>
<table>
  <tr>
    <th>
      <%= t('yearly_review.user') %>
    </th>
    <th>
      <%= t('yearly_review.replies') %>
    </th>
  </tr>
  <% @most_replies.each do |user| %>
    <tr>
      <td>
        <%= raw(avatar_image(user.username, user.uploaded_avatar_id)) %>
        <%= raw(user_link(user.username)) %>
      </td>
      <td>
        <%= user.reply_count %>
      </td>
    </tr>
  <% end %>
</table>

<h3><%= t('yearly_review.most_likes_given') %></h3>
<table>
  <tr>
    <th>
      <%= t('yearly_review.user') %>
    </th>
    <th>
      <%= t('yearly_review.likes_given') %>
    </th>
  </tr>
  <% @most_likes.each do |user| %>
    <tr>
      <td>
        <%= raw(avatar_image(user.username, user.uploaded_avatar_id)) %>
        <%= raw(user_link(user.username)) %>
      </td>
      <td>
        <%= user.likes_given_count %>
      </td>
    </tr>
  <% end %>
</table>

<h3><%= t('yearly_review.most_visits') %></h3>
<table>
  <tr>
    <th>
      <%= t('yearly_review.user') %>
    </th>
    <th>
      <%= t('yearly_review.visits') %>
    </th>
  </tr>
  <% @most_visits.each do |user| %>
    <tr>
      <td>
        <%= raw(avatar_image(user.username, user.uploaded_avatar_id)) %>
        <%= raw(user_link(user.username)) %>
      </td>
      <td>
        <%= user.visit_count %>
      </td>
    </tr>
  <% end %>
</table>
<!-- end of table group -->

<h3><%= t('yearly_review.most_liked_topics') %></h3>

<% @most_liked_topics.each do |category_topics| %><% category_topics.each_with_index  do |topic, i| %><% if i == 0 %><%= raw(category_link_title(topic.topic_slug, topic.id, topic.category_name )) %><% end %><%= raw(topic_link(topic.topic_slug, topic.id)) %><% end %><% end %>
