<h3><%= t('yearly_review.topics_created') %></h3>
<table>
  <tr>
    <th>
      <%= t('yearly_review.user') %>
    </th>
    <th>
      <%= t('yearly_review.topics') %>
    </th>
  </tr>
  <% @most_topics.each do |user| %>
    <tr>
      <td>
        <%= user.username %><%= raw(avatar_template) %>
      </td>
      <td>
        <%= user.topic_count %>
      </td>
    </tr>
  <% end %>

</table>
