<!-- The following tables can be grouped -->
<div data-review-topic="true">
<% @user_stats.each do |obj| %>
  <% if obj[:users] %>
  <h3><%= t("yearly_review.#{obj[:title_key]}") %></h3>
  <table>
    <tr>
      <th>
        <%= t('yearly_review.user') %>
      </th>
      <th>
        <%= t('yearly_review.replies') %>
      </th>
    </tr>
  <% obj[:users].each do |user| %>
    <tr>
      <td>
        <%= raw(avatar_image(user.username, user.uploaded_avatar_id)) %>
        <%= raw(user_link(user.username)) %>
      </td>
      <td>
        <%= user.action_count %>
      </td>
    </tr>
  <% end %>
  </table>
  <% end %>
<% end %>

<% @category_topics_arr.each do |obj| %>
  <h3><%= t("yearly_review.#{obj[:title_key]}") %></h3>
  <h4>
    <%= raw(category_link_title(obj[:topics][0][0].category_id, obj[:topics][0][0].category_slug, obj[:topics][0][0].category_name)) %>
  </h4>
  <% obj[:topics].each do |category_topics| %>
  <table>
    <tr>
      <th>
        Topic
      </th>
      <th>
        Like Count
      </th>
    </tr>
    <% category_topics.each do |topic| %>
      <tr>
        <td>
          <%= raw(topic_link(topic.topic_slug, topic.title, topic.id, topic.post_number)) %>
        </td>
        <td>
          <%= topic.like_count %>
        </td>
      </tr>
    <% end %>
  </table>
  <br>
  <% end %>
<% end %>
</div>
